.products_list {
  display: flex;
  flex-direction: column;
}

div:has(> .products_list) {
  min-width: 90%;
  overflow-y: scroll;
  background-color: #efefef !important;
}

.popup_title {
  font-size: 3rem;
  font-weight: 800;
  margin: 1.5rem 4rem;
}
