.nav_links {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.726);
  padding: 0.7rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

nav {
  background-color: #fff !important;
}

.nav_logo {
  width: 135px;
  margin: 0;
}

.nav_logo_mob {
  width: 60%;
}

.nav_cross {
  margin-left: 35px;
}
.nav_cross_per {
  text-align: left;
}
